/* 登录页面的整个div 使用了弹性 */
.zh_out{
    box-sizing:border-box;
    width:1000px;
    height:317px;
    border:1px solid #000;
    display:flex;
    margin:0 auto;
    padding:40px 0;
    justify-content:space-between; 
}
/* .zh_out dl{width:30%;} */
.zh_out dt{
    font-size:25px;
    margin:0 0 20px;
}
/* 注册账户的重写样式 */
.gen_duo{
    width:150px;height:40px;
}
/* 你可以直接登录的样式 */
.ce_center{
    width:30%;
    padding: 0 60px;
    margin:0 60px;
    border-left:1px solid #999999;
    border-right:1px solid #999999;
    position: relative;

}
.ce_center dd{
    width:40px;height:40px;
    /* background:red; */
    float:left;
    background:url(../img/images/commons/shareimg.png) no-repeat 0px -239px;
}

.ce_center dd:nth-child(2){
    background:url(../img/images/commons/shareimg.png) no-repeat;
    margin:0 12px 12px 0;
}
.ce_right{
    width:300px;height:337px;
}
.ce_right dd input{
    width:274px;height:28px;
    margin:0 0 20px 0;
    padding:5px 5px 5px 16px;
}
.ce_yanzhang{
    border:1px solid #999999;
    width:238px;height:28px;
    margin:0 0 12px 0;
    padding:5px 5px 5px 54px;
    color:#666666;
}
.ce_yanzhang span:nth-child(1){
      margin:0 0 20px 0;
      font-size:10px;
}
.ce_yanzhang span:nth-child(2){
    display:none;
    font-size:10px; 
}
.ce_zi{
    font-size:12px;
}
.ce_aa{
    color:#000;
    font-size:12px;
    text-decoration:underline;
    cursor: pointer;
}
/* 登录按钮的样式 */
.ce_btn{
   width:300px;
   margin:0 0 5px 0 !important; 
}
.ce_bottom{
    display:flex;
    justify-content:space-between;
    font-size:13px;
    position: relative;
}
.ce_mei{margin:0 0 0 20px;}
.ce_mei::before{
    display:block;
    content:"";
    width:15px;height:15px;
    border:2px solid #000;
    position: absolute;
    top:0px;left:0px;
}
.ce_mei::after{
    display:block;content:"";
    width:11px;height:5px;
    border-left:2px solid #000;
    border-bottom:2px solid #000;
    transform:rotate(-45deg);
    position: relative;top:-12px;left:-17px;
}

