/* 页面头部 的空白区域 */
.wrap_top{
    width:100%;height:80px;border:1px solid #fff;
}
/* 外面的div布局 */
.xiang_qing{
    width:1000px;
    height:926px;
    box-sizing:border-box;
    width:50%;
    margin:0 auto;
    display:flex;
    flex-wrap:nowrap;
    /* flex-direction:column; */
    justify-content:space-between;
}
/* 左边分享布局 */
.xq_left{
    width:200px;height:130px;
}  
/* 分享3个点的img */
.fei_left>span>i>img{width:25px;}
.fei_left>span{
   width:20px;height:200px;
}
/* 分享字hover后添加下划线和颜色变浅 */
.fei_left:hover{
    text-decoration: underline;
    filter:alpha(Opaciy=60);
    opacity: 0.6;
}
.fei_center{
    margin:8px 0;
     display:block;
     width:155px;height:20px;;
}
.fei_center:hover{
    text-decoration: underline;
    filter:alpha(Opaciy=60);
    opacity: 0.6;
}

/* 中间布局  */
.xq_center{
    width:520;height:926px;border:1px solid #ff0;
}
/* 大件衣服的下面小图标 */
.xq_center>.xq_lubo{
    width:520px;
    height:72px;
    display:inline-block;
    margin-top:10px;
}
/* a标签设置行内块 可以设置宽高 */
.xq_center>.xq_lubo a{
    display:inline-block;
    width:72px;height:72px;
    
}
/* hover后出现的小图标 */
.xq_center>.xq_lubo a:hover{
    border:1px solid #ddd;
   transition:all .5s linear ;
}
.xq_center>.xq_lubo a+a{
    margin-left:11px;
}
/* 小图标的宽高 */
.xq_center>.xq_lubo a img{
    width:60px;
    height:60px;     
}
.xq_queren ul li{list-style-type:disc;}
.xq_queren ul li:nth-child(1)::before{
      display:block;
      content:"正面印有LIFE'S TOO SHORT TO WASTE图案";    
}

/* 右边提交布局 */
.xq_right{
    width:200px;height:429px;border:1px solid #f0f;
}