.footer_aa{
    /* height:140px; */
    background:#000;
    box-sizing: border-box;
}
.footer_cc{
    display:flex;
    justify-content:center;
    padding:18px 20px;
}
.footer_cc>li{margin: 0 20px;
}


div>p{text-align: center;
}
.footer_aa {
    color:#fff;
    font-size:12px;
}
.footer_aa a{
    color:#fff;
    font-size:12px;
}
div .footer_bbb{
   padding:20px 0;
}


