
/* 页头固定定位 */
/* 首页的定位 */

    /* z-index:100; */

  /*  页头会缩小那部分 */
  .dao_top{
    
    border:1px solid ;
    border:none;
    min-width:100%;
    /* width:100%; */
    position:fixed;
    /* height:0; */
    height:135px;
    z-index:20;
}




/* 页头 */
.wrapper .top-nav-wrap{
  /* width:100%; */
  height:80px;
  background:#000;
  border:1px solid #000000;
  box-sizing: border-box;
  position:relative;
}
/*鼠标悬停会出现下划线*/
.my_dian:hover,.my_dian:focus {
  text-decoration:underline;
}

.wrapper{
    display: flex;
    justify-content: space-between;
    background:#000;
}
.wrapper .top-nav-wrap .logo{
  position:absolute;
  top:30px;
  left:130px;
}
.dao_a{
  display: flex;
  justify-content: space-around;
  min-width:1500px;
}
/* 登录注册 */
.dao_a .top-nav{
    position: absolute;
    top:29px;
    right:800px;
   

}
.dao_a .top_top1{
    background:url(../img/Lmages/sprites_header_footer.png) no-repeat -96px -85px;
    width:30px;
    height:31px;
    position: absolute;
    top:23px;
    right:750px; 
    cursor:pointer;
} 
/* 购物车 */
.dao_a .lft-headerbox{
  position: absolute;
  top:29px;
  right:650px;
}
.dao_a .top_top2{
  background:url(../img/Lmages/sprites_header_footer.png) no-repeat -168px -97px;
  width:31px;
  height:31px;
  position: absolute;
  top:23px;
  right:593px;
  cursor:pointer; 
}

/* 聊天 */
.dao_a .top_top3{
  background:url(../img/Lmages/sprites_header_footer.png) no-repeat -135px -32px;
  width:31px;
  height:31px;
  position: absolute;
  top:23px;
  right:450px; 
  cursor:pointer;
}

/* 搜索 */
.dao_a .top_top4{
  background:url(../img/Lmages/sprites_header_footer.png) no-repeat -135px 0px;
  width:31px;
  height:31px;
  position: absolute;
  top:23px;
  right:334px; 
  cursor:pointer;
}
/* 帮助 */
.dao_a .top_top5{
  background:url(../img/Lmages/sprites_header_footer.png) no-repeat -166px 0px;
  width:31px;
  height:31px;
  position: absolute;
  top:23px;
  right:218px; 
  cursor:pointer;
}

.dao_a div~div:hover{
  transition:all .5s; 
      filter:alpha(Opaciy=60);
      opacity: 0.6;
}


.dao_a .top_nav{
   position:absolute;
  bottom:30px;
  right:40px;
}

/* 第二条导航 */

.snb{
  background:#464646;
  width:100%;
  height:50px;
  position: relative;
  z-index:20;
}
.snb .snb_a{
 display:flex;
 justify-content:center;
 line-height:50px;
}
.snb .snb_a .snb_b{
 width:134px;
 height:50px;
 text-align:center;

}
/* .snb>.snb_a>.snb_b:hover .snb_p+.strut_a,.strut_a:hover{
display:block;
height:265px;
transition:all 5s;
} */
.snb>.snb_a>.snb_b:hover .snb_p+.strut_a{
   display:block;
   height:265px;
   transition:3s;
  
}



.strut_a{
 background:#fff;
 width:100%;
 height:0px;
 position: absolute;
 top:49px;
 left:0;
 display:none;
 
 z-index:20;

}
.strut_ul{
 display:flex;
 justify-content:center;
}
.strut_ul>li a{
 display:inline-block;
 position:relative;
}
.strut_ul>li a span{
 position:absolute;
 bottom:0px;left:50%;
 transform:translateX(-50%);
}
.div_zhong{
 border-top:1px solid #ddd;
}

.snb_b i{
 width:0;
 border:20px solid #ddd;
 border-right-color:rgba(255,255,255,0);
 border-bottom-color:transparent;
 border-left-color:transparent;
 border-width:8px;
 position:relative;
 top:40px;
 left:-32px;
} 

.strut_ul span{
  font-size:13px;
}


