


/* 大图片的样式 */
.dian_tu{
    width:100%;
    position: relative;
}
.dian_tu img{
    max-width:100%;
    height:auto;
}
/* 所有点击的共同样式 */
.dian_tu a{
    display:block;
    border-radius: 3px;
    background:transparent; 
    /* background:rgba(0,0,0,0.6) */
}
/* 为第二张图片为定位 */
.dian_tu>.tu_two{
    position: relative;
}
/* 第二张图片的宽高 */
.dian_tu>.tu_two>a{
    width:10%;
    height:6%;
    position: absolute;
    top:42.7%;
    left:31.6%;
}
/* 第三张图片为定位 */
.dian_tu>.tu_three{
    position: relative;
}
/* 第三张图片的宽高 */
.dian_tu>.tu_three>a{
    width:10%;
    height:4%;
    position: absolute;
    bottom:26.9%;
    right:31.3%;
}

/* 第四张图片为定位 */
.dian_tu>.tu_four{
    position: relative;
}
/* 第四张图片的宽高 */
.dian_tu>.tu_four>a{
    width:10%;
    height:5%;
    position: absolute;
    top:36%;
    left:22%;
}
/* 第五张图片为定位 */
.dian_tu>.tu_five{
    position: relative;
}

.dian_tu>.tu_five>a{
    width:10%;
    height:5%;
    position: absolute;
    bottom:14.25%;
    right:20.8%;
}
/* 第六张图片为定位 */
.dian_tu>.tu_six{
    position: relative;
    
}
/* 第六张图片左边 */
.dian_tu .s_a_left{
    display:inline-block;
    border-radius: 3px;
    background:transparent; 
     
}
.dian_tu>.tu_six a{
    width:22%;
    height:47%;
}
.dian_tu>.tu_six>.s_a_left{
    position: absolute;
    top:10%;
    left:24.4%; 
}
/* 第六张图片右边 */
.dian_tu .s_a_right{
    display:inline-block;
    border-radius: 3px;
    background:transparent;   
}
.dian_tu>.tu_six>.s_a_right{
    position: absolute;
    top:10%;
    left:53.6%;
}


